@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto";
    scroll-behavior: smooth !important;
}

:root {
    --primary: #4ade80;
    --primary-alt: #22c55e;
    --grey: #64748b;
    --dark: #1e293b;
    --dark-alt: #334155;
    --light: #f1f5f9;
    --purple: #cb44ff;
}
